@tailwind components;
@tailwind utilities;
@layer utilities {
  .text-gradient {
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

* {
  scroll-behavior: smooth;
}

.light ::selection {
  background: yellow;
  color: #000;
  -webkit-text-fill-color: #000;
}

.dark ::selection {
  background: blue;
  color: #fff;
  -webkit-text-fill-color: #fff;
}
